<div class="container">
    <div class="card">
        <h1>{{userData.name}}</h1>
        <p>Username : {{userData.username}}</p>
        <p>Email : {{userData.email}}</p>
        <p>Phone : {{userData.phone}}</p>
        <p>Website : {{userData.website}}</p>
        <p>Company Name : {{userData.company.name}}</p>
        <p>Street : {{userData.address.street}}</p>
        <p>Suite : {{userData.address.suite}}</p>
        <p>City : {{userData.address.city}}</p>
        <p>Zipcode : {{userData.address.zipcode}}</p>

    </div>
</div>