.container{
    width: 200px;
    height: 300px;
    border: 2px solid red;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    transition:  transform 0.3s ease, background-color 0.3s ease;;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: aquamarine;
    }
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}